body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
}


.swiper-pagination {
  position: relative !important;
  bottom: auto !important;
  margin-top: 20px !important;
  text-align: center !important;
  z-index: 20 !important;
}

.swiper-pagination-bullet {
  background: gray !important;
  width: 8px !important;
  height: 8px !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #22c55e !important;
  width: 10px !important;
  height: 10px !important;
}

[data-aos] {
  transform: translateZ(0); 
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

[data-aos].aos-animate {
  transform: translateY(0) !important;
}

@media screen and (max-width: 1000px) {
  .sprocess-card {
flex-direction: column !important;
    margin: auto !important;
  }

.sprocess-card img{
  height: 400px !important;
  margin: auto !important;

}
}


@media screen and (max-width:660px) {

.coach-card{
  flex-direction: column !important;
}

.coach-right, .coach-left{
  width: 100% !important;
}

.coach-left img{
  height: 65vh !important;
}

} 

@media screen and (max-width: 768px) {
  .choose-card {
    width: 90% !important;
    margin: auto !important;
  }

  .sprocess-card img{
  height: 300px !important;
  width: 40rem !important;
}
}

@media screen and (max-width: 700px) {

.contact-main{
  width: 90% !important;
  margin: auto !important;
}
}

@media screen and (max-width: 590px) {
  .sprocess-card img{
  height: 220px !important;
  }

}

@media screen and (max-width: 500px) {
  .programs-card {
    grid-template-columns: 1fr !important;
  }
}

@media screen and (max-width: 490px) {
  .transform-card {
    grid-template-columns: 1fr !important;
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 480px) {
  .steps-card {
    grid-template-columns: 1fr !important;
    width: 95%;
    margin: auto;
  }

  .testimonials-card {
  width:60% !important;
  margin: auto !important;
  align-items: center;
}

}

@media screen and (max-width: 460px) {
  .footer-cards {
    grid-template-columns: 1fr !important;
    gap: 2rem !important;
    padding: 2px !important;
  }

  .choose-card {
    width: 95% !important;
    margin: auto !important;
  }

.testimonials-card {
  width:90% !important;
  margin: auto !important;
  align-items: center;
}

}
@media screen and (max-width: 448px) {
  .certifications-card {
    grid-template-columns: 1fr !important;
    width: 90%;
    margin: auto !important;
  }

}
@media screen and (max-width: 400px) {
  .sprograms-card {
    grid-template-columns: 1fr !important;
    width: 90%;
    margin: auto !important;
  }

  .contact-main{
  width: 100% !important;
}

  
.testimonials-card {
  width:95% !important;
  margin: auto !important;
  align-items: center;
}

}

@media screen and (max-width: 380px) {
  .steps-card {
    width: 95%;
  }

  .transform-card {
    width: 95%;
  }
}
